<%- include("partials/header"); -%>
<h1>Home</h1>
<P><%= homeText %></P>
<div>
    <% posts.forEach((ele) =>{ %>
        <h1><%= ele.Title %></h1>
        <p>
            <%= ele.postBody.substring(0,100) + "..." %>
            <a href= "/posts/<%=ele.Title%>" >Read more</a>
        </p>
        
    <% }); %>
</div>
<%- include("partials/footer"); -%>